
@using System.Web.Helpers
@inject IJsonHelper Json;
@using Newtonsoft.Json;
@model PedidoVirtual
@{
    ViewData["Title"] = "Billing";
    Layout = null;
    var pedido = ViewData["pedido"] as PedidoVirtual;
    var productos = ViewData["productos"] as List<Producto>;
}

@using (Html.BeginForm("Next", "billingController"))
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        
    </head>
    <body>
        <h2>Facturación</h2>
        <b>Ítems seleccionado: </b> @Model.Productos.Count()
        <br />
        <b>Costo total: </b> @Model.Precio
        <br />
        <h4>Seleccione el tipo de entrega: </h4>

        <div class="col-md-10">  
            Domicilio  
            @Html.RadioButtonFor(model => model.TipoEntrega, "Domicilio")  
            Recoger en tienda  
            @Html.RadioButtonFor(model =>  model.TipoEntrega, "Recoger en tienda")  
        </div>  

        <h4>Método de pago </h4>

        <div class="col-md-10">  
            Tarjeta de credito
            @Html.RadioButtonFor(model => model.MetodoPago, "Tarjeta de credito")  
            Pago contraentrega 
            @Html.RadioButtonFor(model =>  model.MetodoPago, "Pago contraentrega")  
        </div>  

        <div hidden>
        @Html.HiddenFor(model => model.Precio)
        @Html.HiddenFor(model => model.Precio)
        
        @for(int i=0; i < Model.Productos.Count() ; i++)
        {
            @Html.HiddenFor(model => Model.Productos[i])
            @Html.EditorFor(model => model.Productos[i])
        }
        </div>

        @if (ViewBag.Message != null)  
        {  
            <script type="text/javascript">  
                window.onload = function () {  
                    alert("@ViewBag.Message");  
                };  
            </script>  
        }  
                
        <br/>
        <a>
            <input type="submit" value="Siguiente" class="submit"/>
        </a>
        
    </body>
    </html>
}
