@model PedidoVirtual

@{
    ViewData["Title"] = "Billing";
    Layout = null;
    <!-- var productos = ViewData["Cart"] as List<Producto>;
    var precio = ViewData["Precio"]; -->
    var pedido = ViewData["Pedido"] as PedidoVirtual; 
}

@using (Html.BeginForm("Next", "billingController"))
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        
    </head>
    <body>
        <h2>Facturación</h2>
        <b>Ítems seleccionado: </b> @pedido.Productos.Count()
        <br />
        <b>Costo total: </b> @pedido.Precio
        <br />
        <h3>Seleccione el tipo de entrega: </h3>

        <div class="col-md-10">  
            Domicilio  
            @Html.RadioButtonFor(model => model.TipoEntrega, "Domicilio")  
            Recoger en tienda  
            @Html.RadioButtonFor(model =>  model.TipoEntrega, "Recoger en tienda")  
        </div>  

        <h3>Seleccione el método de pago</h3>

        <div class="col-md-10">  
            Tarjeta Credito  
            @Html.RadioButtonFor(model => model.MetodoPago, "Tarjeta Credito")  
            Pago contra entrega
            @Html.RadioButtonFor(model =>  model.MetodoPago, "Pago contra entrega")  
        </div>  
       
        <p>
            <input type="submit" value="Siguiente"/>
        </p>
        
    </body>
    </html>
}
@using (Html.BeginForm("billingController","GoBack"))
{
    <a href="../billingController/GoBack">
        <input type="button" value="Cancelar" />
    </a>
        
}