@model Tarjeta

@{
    ViewData["Title"] = "Pay";
}


@using (Html.BeginForm("PayBill", "billingController", "Post"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Facturación</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroTarjeta)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NumeroTarjeta)
        
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FechaExpiracion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaExpiracion)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CVV)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CVV)
        </div>
        <p>
            <input type="submit" value="PayBill" />
        </p>
    </fieldset>
}