@using System.Web.Helpers
@inject IJsonHelper Json;
@model List<Producto>
@{
    ViewData["Title"] = "Productos";
    Layout = null;
    var productos = ViewData["Cart"] as List<Producto>;
    var costo = ViewData["Costo"];
}

@section Scripts {
    <script src="~/js/jquery-1.10.2.min.js"></script>
}

@using (Html.BeginForm("AddToCart", "productController"))
{
    <!DOCTYPE html>
    <html>
        <head>
            <title>Nuestros sandwiches</title>
        </head>
    <body>
        <h1>Nuestros sandwiches</h1>
        
        <div class="row">
            
            @foreach(var item in Model)
            {
                <span>
                    Nombre producto: @item.Name 
                </span>
                <br />
                <span>
                    Valor: @item.Precio 
                </span>
                @Html.ActionLink(
                    "Seleccionar ítem", "AddToCart", "productController", new { nombre=item.ProductoID, json = @Html.Raw(Json.Serialize(@productos)), costo=@costo }, null
                )
                @if (ViewBag.Message != null)  
                {  
                    <script type="text/javascript">  
                        window.onload = function () {  
                            alert("@ViewBag.Message");  
                        };  
                    </script>  
                }  
                
                <br />
                <br />
            }
        </div>
        En el carrito: @productos.Count()
    </body>
    </html>
}

@using (Html.BeginForm("productController","Pay"))
{

    @Html.ActionLink(
        "Pagar", "Pay", "productController", new {json = @Html.Raw(Json.Serialize(@productos)) , costo=@costo}, null
    )
        
}